{% extends base.html %}

{% block body %}

<div class="container">
	<div class="card mt5">
		<div class="card-header text-center py-3">
			<h1>URL Shortener Application<i class="fas fa-link px-2"></i></h1>
		</div>
		<div class="px-3 py-4">
			<form action="" method="POST">
			{% csrf_token %}
        		<div class="row g-1">
        			<div class="col-10">
					<div class="col-2">{{ form.long_url }}</div>
					<div class="btn btn-success btn-lg w-100"></div>

        			</div>
        		</div>
			</form>
		</div>
	</div>
	{% if errors %}
	<div class="alert alert-danger mt-4">
		<p>{{ errors }}</p>
	</div>
	{% endif %} 

	{% if new_url %}
	<div class="mx-auto text-center mt-5">
		<h2 class="text-danger"></h2>
		<p>You can copy the link below and share with your friends</p>
		<p>{{ new_url }}</p>
	</div>
	{% endif %}
</div>
{% endblock body %}
